html, body {
    font-family: '游ゴシック', sans-serif;
    font-size: var(--font-size-default);
    color: var(--color-text__dark);
    line-height: 1.5rem;
}

h1 {
    font-size: var(--font-size-xl);
}

h2 {
    font-size: var(--font-size-lg);
}

h3 {
    font-size: var(--font-size-md);
}

small {
    font-size: var(--font-size-sm);
}

.wrapper-icon {

    & i {
        display: block;
        flex-shrink: 0;
        color: currentColor;
        width: var(--icon-width);
    }

    & svg {
        display: block;
        width: 100%;
        height: auto;

        & * {
            stroke: currentColor;
            stroke-width: var(--icon-stroke-width);
            fill: var(--icon-fill-default);
            stroke-linecap: round;
            stroke-linejoin: round;
        }
    }
}