body {
    font-family: '游ゴシック', sans-serif;
    font-size: var(--font-size-default);
    font: 400;
    color: var(--color-text__dark);
}

h1 {
    font-size: var(--font-size-xl);
}

h2 {
    font-size: var(--font-size-lg);
}

h3 {
    font-size: var(--font-size-md);
}