// =======================================
//                 body
// =======================================
html, body {
    height: 100%;
    // width: 100%;
    margin: 0;
    padding: 0;
}

.primary-body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto minmax(0, 1fr) auto;
    grid-template-areas:
        "header header"
        "left-side main"
        "footer footer";

    height: 100%;
    min-height: 0;
    row-gap: var(--space-xl);

    column-gap: var(--space-2xl);
    padding: 0 var(--space-2xl);
}

// =======================================
//              header
// =======================================
header {
    grid-area: header;
    place-self: center;
    width: calc(100% - (var(--space-xl) * 4));
    border-bottom: var(--border-default);
    padding: var(--space-sm);

    & .logo {
        width: fit-content;
        margin: 0 auto;

        & img {
            width: 160px;
            height: auto;
        }
    }
}

// =======================================
//              left-side
// =======================================
.left-side {
    grid-area: left-side;

    display: flex;
    flex-direction: column;
    gap: var(--space-3xl);
    align-items: center;

    // padding: var(--space-3xl);

    position: relative;

}

.mail-downroad {
    position: sticky;
}

.container__address-select-area {
    min-width: 200px;
    padding: calc(var(--space-2xl) * 2) var(--space-3xl);
    background-color: var(--color-container);
    border-radius: var(--radius-2xl);
    box-shadow: var(--shadow-glass);

    & .wrapper__address-select-area {
        display: flex;
        flex-direction: column;
        gap: var(--space-xl);

        & h3 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            padding: 0 var(--space-sm);
        }

        & #selected-count {
            font-size: 1.3em;
        }
    }

    & .table-container {
        max-height: 200px;
        background-color: var(--color-wrapper);
    }

    & li {

        & > label {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

.container-btn {
    place-self: center;

    & .select-btn__address-sets,
    & .btn__variable-edit {
        border: var(--border-default);

        & .wrapper-icon {
            background-color: var(--color-container);
        }

        & i {
            color: var(--color-border);

            & > svg {
                stroke: var(--color-border);
            }
        }
    }
}

// =======================================
//                main
// =======================================

main {
    grid-area: main;
    min-height: 0;
}

.container-main {
    background-color: var(--color-container);
    border-radius: var(--radius-2xl);
    padding: var(--space-2xl);
    box-shadow: var(--shadow-glass);

    display: grid;
    grid-template-columns: minmax(220px, 1fr) 2fr;
    grid-template-rows: minmax(0, 1fr);
    grid-template-areas: "mail-template editor";
    gap: var(--space-sm);

    position: relative;
    height: calc(100% - (var(--space-xl) * 2));
    min-height: 0;

}


// left side
// ----------------------------
.mail-template-select-container {
    background-color: var(--color-wrapper);
    border-radius: var(--radius-xl) 0 0 var(--radius-xl);
    padding: var(--space-3xl);
    min-height: 0;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto minmax(0, 1fr);
    grid-template-areas:
        "head-name slicer"
        "templates templates";
    gap: var(--space-sm);
    overflow: hidden;
}

.container__mail-template-header {
    place-self: center start;
    grid-area: head-name;
}

.mail-template-select-container .wrapper-btn {
    border-radius: var(--radius-full);
    background-color: var(--color-container);
    width: fit-content;
    aspect-ratio: 1 / 1;

    place-self: center end;
    grid-area: slicer;

    & button {
        border-radius: var(--radius-full);
        padding: calc(var(--space-sm) / 2);
        width: 100%;
        height: 100%;
    }

    & i {
        transform: scale(0.7);
    }

    & svg * {
        stroke: var(--color-border);
    }
}

.wrapper-mail-templates {
    height: 100%;
    min-height: 0;
    overflow-y: auto;
    width: 100%;

    grid-area: templates;
}

.menu__variable-editor {
    position-anchor: --variable-editor;
    position-area: right;

    min-width: fit-content;
    min-height: fit-content;

    & th {
        text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.6);
    }

    & td {
        height: 1rem;
    }

    & textarea,
    & textarea:focus {
        outline: none;
        border: none;
        width: 100%;
        height: 100%;
        // font-size: 1rem;
    }
}

// right side
// ----------------------------

.btn-save-position {
    position: absolute;
    right: var(--space-3xl);
    bottom: var(--space-3xl);
}

// =======================================
//               footer
// =======================================

footer {
    grid-area: footer;
    padding: var(--space-md);
    margin: auto;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

// =======================================
//               editor
// =======================================
dialog:has(.modal-editor-wrapper) {
    all: unset;
    inset: 0;

    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

    display: none;
    opacity: 0;
    transform: translateY(10px);

    transition:
        transform 500ms ease-in,
        opacity 100ms ease-in,
        display 100ms allow-discrete,
        overlay 500ms allow-discrete;

    &:not([open]) {
        display: none;
        opacity: 0;
        transform: translateY(10px);

        transition:
            transform 300ms ease-in,
            opacity 100ms ease-in,
            display 100ms allow-discrete,
            overlay 300ms allow-discrete;
    }

    &[open] {
        display: block;
        opacity: 1;
        transform: translateY(0);

        @starting-style {
            opacity: 0;
            transform: translateY(10px);
        }
    }
}

.modal-editor-wrapper {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;

    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xl);
    padding: var(--space-3xl);
    color: var(--color-text__light);

    & .table-container {
        max-height: 50vh;

    }

    & thead,
    & th {
        // color: var(--color-text__dark);
        text-shadow: var(--shadow-glass);
        border-radius: 0;
        padding-bottom: 0;
        position: sticky;
        top: 0;
        z-index: 9999;
    }

    & th > div {
        width: fit-content;
        height: fit-content;
        margin: 0 auto 0.5em 4px;
        padding: 0.5em 1em;
        box-shadow: none;
        border: none;
        background-color: var(--color-overlay);
    }

    & input,
    & input:focus {
        font-size: var(--font-size-default);
        border: none;
        outline: none;
        border-left: var(--border-default);
        border-width: 3px;
        width: 100%;
    }

    & .wrapper-icon {
        padding: 1em;
    }

    & button:has(i) {
        aspect-ratio: 1 / 1;
        padding: 0;
        background-color: none !important;
    }

    & i {
        transform: scale(1);
    }

}

.modal-editor__actions {
    display: flex;
    gap: var(--space-3xl);
}