// button > .wrapper-icon((i > svg > *)) + span

// <button class="btn-cta">
//     <div class="wrapper-icon">
//     <i class="icon-download" aria-hidden="true">
//         <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
//             <path
//                 d="M38 26V34C38 35.0609 37.5786 36.0783 36.8284 36.8284C36.0783 37.5786 35.0609 38 34 38H6C4.93913 38 3.92172 37.5786 3.17157 36.8284C2.42143 36.0783 2 35.0609 2 34V26M10 16L20 26M20 26L30 16M20 26V2" />
//         </svg>
//     </i>
//     </div>
//     <span>メールを作成する</span>
// </button>

@mixin btn {
    border-radius: var(--radius-full);
    padding: var(--padding-default);
    border: var(--boder-default);
    background-color: var(--color-container);
    background-color: rgba(255, 255, 255, 0.6);
    font-size: var(--font-size-md);
    cursor: pointer;

    &:hover {
        @include btn-hover;
    }

    &:focus {
        @include btn-focus;
    }

    &:focus:not(:focus-visible) {
        outline: none;
    }
}

button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

@mixin btn-hover {
    box-shadow: var(--shadow-hover);
    transform: scale(1.02);
}

@mixin btn-focus {
    outline: none;
    box-shadow: var(--focus-ring);
}

@mixin btn-with-icon {
    @include btn;

    display: flex;
    flex-direction: row;
    gap: var(--space-md);
    align-items: center;
    justify-content: center;

    & .wrapper-icon {

        & i {
            display: block;
            flex-shrink: 0;
            color: currentColor;
            width: var(--icon-width);
        }

        & svg {
            display: block;
            width: 100%;
            height: auto;

            & * {
                stroke: currentColor;
                stroke-width: var(--icon-stroke-width);
                fill: var(--icon-fill-default);
                stroke-linecap: round;
                stroke-linejoin: round;
            }
        }
    }

    & span {
        display: block;
    }
}

.btn {
    @include btn;
}

.btn-with-icon {
    @include btn-with-icon;
}

.btn-cta {
    @include btn-with-icon;

    background-color: var(--color-bg-dark);
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
        linear-gradient(45deg, var(--color-primary-1), var(--color-primary-2));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border: 3px solid transparent;

    transition: var(--transition-default);

    & svg path {
        stroke: var(--color-text__light) !important;
        width: var(--icon-width) !important;
    }

    & span, & p {
        color: var(--color-text__light);
        font-size: var(--font-size-md);
        text-shadow: var(--shadow-glass);
    }
}

.wrapper-btn {
    display: flex;
    width: 100%;
}


.btn-icon-moving-left {
    display: flex;
    align-items: center;
    width: fit-content;
    height: auto;
    padding: calc(var(--space-sm) / 2);

    background: none;
    background-color: var(--color-container);
    border: var(--boder-default);
    border-radius: var(--radius-full);
    outline: none;
    font-size: var(--font-size-default);

    & .wrapper-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: auto;
        aspect-ratio: 1 / 1;
        padding: var(--space-lg);

        background-color: var(--color-wrapper);
        border-radius: var(--radius-full);
        transition: transform 0.3s ease;

        & > i {
            display: flex;
            align-items: center;
            width: var(--icon-width);
            height: 100%;
            color: currentColor;
            transition: transform 0.3s;

            & > svg {
                width: 100%;
                height: auto;

                & * {
                    fill: var(--icon-fill-default);
                    stroke: currentColor;
                    stroke-width: var(--icon-stroke-width);
                    stroke-linecap: round;
                    stroke-linejoin: round;
                }
            }
        }
    }

    & > .wrapper-icon + span {
        display: inline-block;
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        white-space: nowrap;
        transform: translateX(8px);
        transition:
            max-width 0.3s,
            margin-left 0.3s,
            opacity 0.2s,
            transform 0.3s;
    }

    &:hover {
        & > .wrapper-icon {
            transform: translateX(-0.5px);
        }

        & > .wrapper-icon + span {
            max-width: 500px;
            margin-left: 0.4em;
            margin-right: 1.6em;
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.remove-cell {
    width: 24px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 0;

    & button:hover path {
        stroke: var(--color-danger);
    }

    & i {
        transform: scale(0.8);
    }
}