@mixin custom-scrollbar {
    overflow: auto;

    // バー
    &::-webkit-scrollbar {
        width: 8px;
    }

    // レール
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    // つまみ
    &::-webkit-scrollbar-thumb {
        background: rgba(174, 174, 174, 0.1);
        backdrop-filter: var(--blur-default);
        border-radius: var(--radius-full);
        cursor: grab;
    }

    &::-webkit-scrollbar-thumb:hover,
    &::-webkit-scrollbar-thumb:active {
        background: rgba(0, 0, 0, 0.2);
    }
}

.custom-scrollbar__y {
    @include custom-scrollbar;
    overflow-x: hidden;
}

.custom-scrollbar__x {
    @include custom-scrollbar;
    overflow-y: hidden;
}