body {
    user-select: none;
    caret-color: transparent;
}

input,
textarea,
[contenteditable="true"] {
    user-select: text;
    /* 文字の選択を許可 */
    caret-color: auto;
    /* カーソルの点滅を標準に戻す */
}

.allow-copy {
    user-select: text;
}

.focusable {
    user-select: text;
    caret-color: auto;

    &:focus {
        outline: none;
        box-shadow: var(--focus-ring);
    }
}