 // &:not(:last-child)::after {
 //     border-bottom: var(--border-default);
 // }
 .container__card--mail-template.selected {
     border: var(--border-default);
 }

 .container__card--mail-template {
     width: 280px;

     padding: var(--space-sm);
     border-radius: var(--radius-md);
     margin: var(--space-sm);

     display: grid;
     grid-template-columns: 60px 1fr;
     grid-template-areas:
         "icon main-text"
         "preview preview";
     gap: var(--space-md);

     & .wrapper-icon {
         width: 60px;
         aspect-ratio: 1 / 1;
         background-color: var(--color-container);
         border-radius: var(--radius-full);

         grid-area: icon;
     }

     & .wrapper-text {

         & h2,
         & p {
             margin-right: var(--space-sm);
             width: 100%;

             white-space: nowrap;
             /* 1. 折り返しを禁止して1行にする */
             overflow: hidden;
             /* 2. はみ出た部分を隠す */
             text-overflow: ellipsis;
             /* 3. はみ出た部分を「...」にする */
         }

         height: 100%;
         grid-area: main-text;
         place-items: center start;

         display: grid;

         & span {
             padding: 0.2rem 0.6rem;
             margin-right: 0.4rem;
             border-radius: var(--radius-full);
             background-color: var(--color-container);
         }
     }

     & .preview-body {
         grid-area: preview;

         display: -webkit-box;
         /* 必須：特殊なボックスモデルを使う */
         -webkit-box-orient: vertical;
         /* 必須：垂直方向に並べる */
         -webkit-line-clamp: 2;
         /* 表示したい行数を指定（ここでは2行） */
         overflow: hidden;
         /* はみ出た分を隠す */

         padding: 0 var(--space-sm);
     }
 }