 // &:not(:last-child)::after {
 //     border-bottom: var(--border-default);
 // }
 .container__card--mail-template.selected {
     border: var(--border-default);
 }

 .container__card--mail-template {
     //  min-width: 200px;
     padding: var(--space-sm);
     border-radius: var(--radius-md);
     margin: var(--space-sm) 0;
     cursor: pointer;

     display: grid;
     grid-template-columns: 60px 1fr;
     grid-template-areas:
         "icon main-text"
         "preview preview";
     gap: var(--space-md);

     & .wrapper-icon {
         width: 60px;
         aspect-ratio: 1 / 1;
         background-color: var(--color-container);
         border-radius: var(--radius-full);

         grid-area: icon;
     }

     & .wrapper-text {

         & * {
             margin-right: var(--space-sm);
             width: 100%;

             white-space: nowrap;
             overflow: hidden;
             text-overflow: ellipsis;
         }

         height: 100%;
         grid-area: main-text;
         place-items: center start;

         display: grid;

         & span {
             padding: 0.2rem 0.6rem;
             margin-right: 0.4rem;
             border-radius: var(--radius-full);
             background-color: var(--color-container);
         }
     }

     & .preview-body {
         grid-area: preview;

         display: -webkit-box;
         /* 必須：特殊なボックスモデルを使う */
         -webkit-box-orient: vertical;
         /* 必須：垂直方向に並べる */
         -webkit-line-clamp: 2;
         /* 表示したい行数を指定（ここでは2行） */
         overflow: hidden;
         /* はみ出た分を隠す */

         padding: 0 var(--space-sm);
     }
 }