@use 'glass-effect' as *;

// .modal-overlay {
//     position: relative;
//     width: 100%;
//     height: 100%;
//     border: none;

// }

.overlay-editor {
    @include glass-effect;

    transform: translateY(10px);
    opacity: 0;
    transition: transform 500ms ease-out, opacity 100ms ease-out;
    position: absolute;
    bottom: 0;

    color: var(--color-text__light);
    padding: var(--space-xl);
    border-radius: var(--radius-xl) var(--radius-xl) 0 0;
    width: 100%;
    margin: 0 auto;
    height: 90%;
    border-bottom: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xl);
}

// .modal-overlay.is-open {
//     background-color: var(--color-overlay);
//     visibility: visible;
//     pointer-events: auto;
// }

.modal-overlay.is-open .overlay-editor {
    transform: translateY(0);
    opacity: 1;
}