@use 'glass-effect' as *;
@use 'button-parts' as *;

.anchor-popover__address-sets {
    anchor-name: --address-sets;
}

.container__popover {
    margin: unset;
    inset: auto;
    position-area: bottom;

    @include glass-effect;
    background-color: var(--color-glass-bg);
    padding: var(--padding-default);
    border-radius: var(--radius-md);

    display: flex;
    flex-direction: column;

    & li {
        @include btn;
        height: fit-content;
        margin: 0.5rem auto;
    }

    & ul, & ol, & li {
        list-style: none;
        padding: 0;
        margin: 0.5em;
        line-height: 1em;

        & label, & span {
            margin: 0;
            padding: 0.5em 1em;
        }

        & input[type="checkbox"] {
            appearance: none;
            -webkit-appearance: none;
            background-image: none;
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
        }
    }

    & li,
    & li * {
        cursor: pointer;
    }

    & li:has(input[type="checkbox"]:checked) {
        font-weight: bold;
    }

}

.container__popover {
    opacity: 0;
    transform: translateY(-4px);
    transition: opacity .15s ease, transform .15s ease;
}

.container__popover:popover-open {
    opacity: 1;
    transform: translateY(0);
}