@use 'glass-effect' as *;
@use 'button-parts' as *;

.anchor-popover__address-sets {
    anchor-name: --address-sets;
}

.anchor-popover__variable-editor {
    anchor-name: --variable-editor;
}
.anchor-popover__template-sort {
    anchor-name: --template-sort;
}

.container__popover {
    margin: unset;
    inset: auto;
    position-area: bottom;

    @include glass-effect;
    background-color: var(--color-glass-bg);
    padding: var(--padding-default);
    border-radius: var(--radius-md);

    max-width: 200px;

    & ul {
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);
    }

    & li {
        @include btn;
        height: fit-content;

        list-style: none;
        padding: 0;
        line-height: 1.3em;
        text-align: center;

        & label {
            margin: 0;
            padding: 0.5em 0;
        }

        & input[type="checkbox"] {
            appearance: none;
            -webkit-appearance: none;
            background-image: none;
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
        }
    }

    & li,
    & li * {
        cursor: pointer;
    }

    & li:has(input[type="checkbox"]:checked) {
        font-weight: bold;
    }

}

.container__popover {
    opacity: 0;
    transform: translateY(-4px);
    transition: opacity .15s ease, transform .15s ease;
}

.container__popover:popover-open {
    opacity: 1;
    transform: translateY(0);
}

.sort-by{
    display: flex;
    flex-direction: row;
}